
    /* Navigation*/

    .navbar {
      background-color: transparent;
    }
    .scrolling-navbar {
      transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        background-color: rgb(214, 214, 214);
        
    
    }

    .top-nav-collapse .nav-link {
        color: #000000 !important;
    }

    footer.page-footer {
      background-color: #34456a;
    }


    @media only screen and (max-width: 768px) {
      .navbar {
        background-color: rgb(214, 214, 214) !important;
      }
    }

    /* Necessary for full page carousel*/
    html,
    body,
    .view {
      height: 100%;
    }

    /* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .carousel .carousel-item video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .subtext-slide {
        margin-left: 25% !important;
        margin-right: 25% !important;
    }

    html, body {
    	font-family: 'Gabriela', serif;
    }