html {
	margin: 0;
  padding: 0;
  width: 100%;
	height: 100vh;
	font-family: 'Gabriela', serif !important;
}

/* Navigation styles */

     /* Navigation*/
			.navbar {
        background-color: transparent;
      }
      .scrolling-navbar {
        transition: background .5s ease-in-out, padding .5s ease-in-out;
      }
      .top-nav-collapse {
        background-color: #34456a;
      }
      footer.page-footer {
        background-color: #34456a;
      }
      @media only screen and (max-width: 768px) {
        .navbar {
          background-color: #34456a;
        }
      }

      /* Necessary for full page carousel*/
      html,
      body,
      .view {
		height: 100%;
		font-family: 'Gabriela', serif !important;
      }

      /* Carousel*/
     .carousel,
     .carousel-item,
     .carousel-item.active {
        height: 100%;
      }
      .carousel-inner {
        height: 100%;
      }
      .carousel .carousel-item video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	  }
	  /* slide text */
	  .subtext-slide {
        margin-left: 25% !important;
        margin-right: 25% !important;
	}
	
	/* Navigation links  */ 
	.nav-link {
		color: #fff;
		font-family: 'Gabriela', serif;
	}
.jumbotron {
    background-image: linear-gradient( 110.7deg,  rgba(9,154,151,1) 6.3%, rgba(21,205,168,1) 90.6% );
    font-size: 30px;
    font-family: 'Gabriela', serif;
    text-align: center;
    color: var(--white);
    font-weight: normal;
    width: 100%; 
		margin: 0;
		opacity: 0.7;	
}

/* background  */
.light-background {
	background: -webkit-linear-gradient(top, #c7baba, #acaaaa);
    background-image: -webkit-linear-gradient(top, rgb(199, 186, 186), rgb(172, 170, 170));
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.nav-item {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

}

a.nav-link, a.nav-link::after, a.nav-link::before {
	transition: all .8s;
}

.collapse a.nav-link:hover {
	color: var(--white)!important;	
}

.collapse a.nav-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: var(--gray);
	height: 1px;
}

.collapse a.nav-link:hover::after {
	width: 80%;
}

/* active tab bottom border */
.nav li.active a::after {
	width: 80%;
	height: 2px;
}

.nav-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; 
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-item:hover, .nav-item:focus, .nav-item:active {
    color: var(--white);
}

.nav-link:hover {
    color: var(--white) !important;
}

.navbar-container {
    width: 68.7%;
}

.nav-item > a {
    white-space: nowrap;
}

.bg-light {
	background: #d6d6d6 !important;
	font-family: 'Gabriela', serif;

}

/* part with homepage texts */

.mainText {
    background-image: linear-gradient( 89.1deg,  rgba(55,64,77,1) 0.7%, rgba(66,156,193,1) 88.4% ); 
    margin-top: 10%;
    color: #fff;
		font-family: 'Gabriela', serif;
    text-align: center;
    font-size: 16px;
		margin-top: 70px;
		-webkit-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
}

.card {
	-webkit-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.75);
}

.mainText > p {
	margin-bottom: 0;
}

.showButton { 
	background: rgba(9,154,151,1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.media-body {
	font-family: 'Gabriela', serif;
}

.container .mainTextBody {
        background-color: #d6d6d6;
        font-family: 'Gabriela', serif;
        color: #484848;
				text-align: right;
				border-bottom: 1px solid #f1ebeb;
				background: rgba(223, 223, 223, .5);
}

.card-text-padding {
	padding: 0 50px;
	text-align: left;
	font-family: 'Gabriela', serif;
	line-height: 25px;
	margin-left: 206px;
}

/* Collapser Text */
.first-text-collaps a, .sec-collaps a, .third-text-collaps a {
	text-decoration: none;
}

.media {
    text-align: left;
}

.media > img {
    width: 20%;
}

/* Carousel img */
#significant-roles {
	margin: 20px auto;
}

#significant-roles img {
	width: auto;
	height: 450px;
}



.media .belgradeGrb {
	width: 15%;
	margin: 0px 0 0 25px;
}

.mainTextBody .card:nth-child(2) p {
	margin-left: 30px; 
}

/* otvorena vrata kartica */
#ov-img {
	margin: 20px 0;
}

/* fotografije sa prve sesije */
#prva img {
	transform: rotate(-90deg);
	zoom: .1;
}

/* Izdavastvo kartica */
#moja-gluma img {
	width: 100%;
	height: 100%;
}
.btn-rounded {
	border-radius: 17px;
}

